<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    * {
      box-sizing: border-box;
    }

    body {
      max-width: 40em;
      margin: 0 auto;
      font-family: sans-serif;
      line-height: 1.5;
      margin-top: 2em;
    }
    input,
    button {
      font: inherit;
      border: 0;
      padding: 1em;
    }

    form {
      display: flex;
    }

    form input {
      flex: 1;
      background-color: #F8F8F8;
      
    }

    form button {
      flex: 0;
      background-color: #86e0fc;

    }
    
    .search-results {
      display: flex;
      flex-wrap: wrap;
      border: solid 0px black;
      
    }

    .single-result {
      width: 25%;
      padding: 1em;
      border: solid 0px red;

    }

    .single-result-poster img {

      max-width: 100%;
    }

    .single-result-info {
      border: solid 0px rgb(70, 240, 70); 

    }

  </style>
</head>
<body>
  {{{body}}}
</body>
</html>